<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titulo }}</title>
  <link rel="icon" href="{{ url_for('static', filename='img/loginicon.ico') }}" type="image/x-icon">
  <link rel="stylesheet" href="../static/css/registro-editar.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000|Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900|Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="{{ estilo }}">
  <header>
    <a href="/home/{{ email }}" class="a-voltar"><i class="fa-solid fa-house"></i>Voltar ao home</a>

    <img src="../static/img/logo.png" alt="logo" class="logo" width="250px">
  </header>

  <section class="seclogin">
      <div class="esquerda-login">
          <h1 class="titulo">Editando suas informações!</h1>

          <form action="/editarusuario/{{ email }}" method="post">
              <section class="sec-esquerdaregistro">
                  <div class="div-cinzaemail">
                      <label class="labelformlogin"><span class="emailvermelho">Email (não alterável):</span></label>
                      <input class="inputlogin" type="email" name="email" id="email" value="{{ email }}" readonly>
                  </div>

                  <div>
                    <label class="labelformlogin">Nome:</label>
                    <input class="inputlogin" type="text" name="nome" id="nome" minlength="3" maxlength="15" value="{{ nome }}" required>
                  </div>
              </section>

              <section class="sec-direitaregistro">
                  <div>
                      <label class="labelformlogin">Senha:</label>
                      <input class="inputlogin" type="text" name="senha" id="senha" value="{{ senha }}" required>
                  </div>

                  <div>
                      <label class="labelformlogin">Data Nascimento:</label>
                      <input class="inputlogin" type="date" name="datanasc" id="datanasc" value="{{ datanasc }}" required>
                  </div>
              </section>

                    {% if mensagememail %}
                        <div class="div-errosencontrados">
                            <p class="titulo-erros">Encontramos {{ quantidade_erros }} erro(s) na sua solicitação:</p>
                            {% for msg in mensagememail %}
                                <p class="p-errorlogin">{{ msg }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

            <button type="submit" name="botaoeditar" value="salvar" class="btn-entrar">Salvar alterações</button>
            <button type="submit" name="botaoeditar" value="excluir" class="btn-excluir">Excluir conta</button>
          </form>
      </div>
  </section>

  <footer>
    <p>&copy; 2024 - InfoSport / ig: @milani_nt</p>
  </footer>
</body>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://kit.fontawesome.com/71c60d6887.js" crossorigin="anonymous"></script>
</html>
